<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='form.css') }}">
    <title>Master Franquicia</title>
</head>
<body >
    <center>
      <H1> Master franquicia {{name}}</H1>
      <div>
      <table>
        <!------------------------>
        <tr>
          <td>Valor de los puntos ($):</td>
          <td><input type="text" value="$0.1" id=""></td>
        </tr>
        <!--------------------  --> 
        <tr>
          <td>Funcion de adquisicion de puntos :</td>
          <td> <input type="text" value="$2000" id=""></td>
        </tr>

        <!--------------------->
        <tr>
          <td><input type="button" value="Actualizar" id=""></td>
        </tr>
      </table>
    </div>


    </center>
</body>
</html>
