
<html >
        <head>	  
          <title>Sistema de puntos Plenia Locatel</title>
          <link rel=stylesheet type=text/css href="{{ url_for('static', filename='Style.css') }}">	  
        </head>
        
        <body>
	  {% with messages = get_flashed_messages() %}
	  {% if messages %}
	  <div class="notification is-danger">
            {{ messages[0] }}
	  </div>
	  {% endif %}
	  {% endwith %}
            <div class="login-wrap">
                <div class="login-html">
                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Ingresar Master</label>			
                    <div class="login-form">
		      <form method="POST" action="">
                        <div>
                            <div class="group">
                                <label for="cedula" class="label">Usuario</label>
                                <input name="cedula" type="text" class="input" placeholder="Usuario">
                            </div>
                            <div class="group">
                                <label for="pass" class="label">Contraseña</label>
                                <input name="pass" type="password" class="input" data-type="password" placeholder="Contraseña">
                            </div>
                            <div class="group">
                                <input type="submit" class="button" value="Ingresar">
                                </div>
                            <div class="hr"></div>
                        </div>
		      </form>
                    </div>
                </div>
            </div>
	    <a href="master">Ingresar</a>
                            
        </body>
    </html>
