<!DOCTYPE html>
<html lang="en">

    {% extends "bootstrap/base.html" %}
    {% block title %}
    Histórico
    {% endblock %}

    <!--{% block styles %}
    {{super()}}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='form.css') }}">
    {% endblock %}-->

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Historial de Compras</title>
    </head>

    {% block content %}
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <a class="navbar-brand">Usuario</a>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="usuario">Inicio</a></li>
                  <li><a href="catalogo">Catálogo</a></li>
                  <li><a href="logout">Cerrar sesión</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
        </nav>

        <body style="margin: 100px">
          <center>
	    {% if facturas %}
                <div> <h1> Historial de facturas </h1> </div>
                <div style="border :solid ; margin-left: 100px ; margin-right: 100px; border-radius: 20px;">
                  <table>
                    <th>Compra</th>
                    <th>Total</th>
                    <th>Fecha</th>
                    <th>Puntos Obtenidos</th>
                    <th>Ubicación</th>
		    
		    {% for factura in facturas %}
		    <tr>
		      <td>
			<table>
			  {% for nombre, precio in factura.productos.split(',')|zip(factura.precios.split(',')) %}
			  <tr>
			    <td> <label for="">{{nombre}}</label></td>
			    <td> <label for="">{{precio}}</label> </td>
			  </tr>
			  {% endfor %}
			</table
		      </td>
		      <td><label for="Total" id="" value=""> {{ factura.total }}</label></td>
		      <td><label for="Fecha" id="" value=""> {{ factura.fecha }}</label></td>
		      <td><label for="Puntos" id="" value=""> {{ factura.puntos }}P</label></td>
		      <td><label for="Ubicacion" id="" value=""> {{ factura.ubicacion.nombre }}</label></td>
		      
		    </tr>

		    {% endfor %}       
                    <div class="image-zoom">
                        <img src='' width='100%' />
                    </div>    
                </table>
                </div>
		{% else %}
		<h1> No hay facturas </h1>
		{% endif %}
            </center>  
        </body>
    {% endblock %}
</html>
