<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Historial de Compras</title>
</head>

<body  style="margin: 100px">
    <center>
    <div>
    <!--wendy corazon si ves esto ponle una margen bien bonita a estos div-->
    Historial de facturas
    </div>
    <div style="border :solid ; margin-left: 100px ; margin-right: 100px; border-radius: 20px;">
       <h1>Aqui va el historial</h1>
    </div>  
</center>  
</body>
</html>