
<html>

<head>
        
        <META HTTP-EQUIV="Refresh" CONTENT=null></META>
        <title>Puntos y Conversiones </title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='form.css') }}">
    

</head>

 
<body >
    <center>
   <div>
       
    <header>   
            <table>
                    <tr>
                   <nav class="nav nav-aberta">
                       <div class="wrap">
                        <td>
                               <ul  class="listaNav">
                       
                                       <li><a href="historial"> Historial </a></li>              
                                                    
                                       
                               </ul>
                        </td>
                        <td>
                               <ul  class="listaNav">
                                       <li><a href="catalogo"> Catalogo </a></li>
                               
                                   
                               </ul>
                               
                        </td>
                       </div>
       
                   </nav>
       
                        
                    </tr>
                    
                </table>  
            
    </header>

    <p><Center><h3>Sistema de Puntos</h3> </Center></p> 
         <p><center>Plenia locatel</center></p>           
         
                
                 
        <table>

            <tr>
                <td>
                    
                </td>
            </tr>
            
            <tr>
                <td>Puntos:</td>
                <td>
                    <label for="puntos" > 13 </label>
                </td>
            </tr>

            <tr>
                <td>Conversiones:</td>
                <td>
                        <select id :"selt" name="Paises">
                                <option value="M_Colombia">Colombia</option> 
                                <option value="M_Venezuela">Venezuela</option> 
                                <option value="M_CostaRica">Costa Rica</option>
                                <option value="M_EstadosUnidos">Estados Unidos</option> 
                                <option value="M_Rusia">Rusia</option> 
                                
                             </select>
                </td>

            </tr>
            <tr>
                <td>
                    
                </td>

                <td>
                    <input type="button" value="Convertir">
                </td>
            </tr>
        </table>
    </center>
</div>
</body>
</html>