<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <center>
    <form method="POST" action="pagoPuntos">
        <table>
            <tr>
                <td>Valor venta</td>
                <td><label for="toCharge">{{ total }}</label></td>
            </tr>
            <tr>
                <td>Nro puntos </td>
                <td> <label for="nOfPoints">{{ tarjeta.puntos }}</label></td>
            </tr>
            <tr>
                <td>Cantidad de puntos a usar</td>
                <td> <input type="text" name="pointsToUse" id=""></td>
            </tr>
            
        </table>
    </center>
 
</body>
</html>
