<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pre-venta</title>
</head>
<center>
    <body>
               
            <div>
                <table class= "table1">
                    <tr>
                        <td>N° Tarjeta:</td>
                        <td><input type="text" placeholder="ID Tarjeta" ></td>
                    </tr>                
                </table>
                <td><a href="detalles">
                    <input type="button" value="Verificar"></td>
                    </a>
            </div>
</center>

</body>
</html>