<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pre-venta</title>
</head>
<center>
    <body>
               
      <div>
	<form method="POST" action="detalles">
          <table class= "table1">
            <tr>
              <td>N° Tarjeta:</td>
              <td><input type="text" name="tarjeta" placeholder="ID Tarjeta" ></td>
            </tr>
          </table>
          <td>
            <input type="submit" value="Verificar"></td>
        </form>
      </div>
</center>

</body>
</html>
