<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='table.css') }}">
    <title>Venta</title>
</head>
<center>
<body>
        <div>
                <table  id= "table1">
                        <th>Producto</th>
                        <th>Nombre</th>
                        <th>Puntos</th>
                        <th>Selección</th>
                        
                        <tr>
                        <div  class="product-wrapper" >
                            <td><img src="{{ url_for('static', filename='img/imagen1.png') }}" alt="" ></td>
                        </div>
                            <td>Abc</td>
                            <td><label for="PuntosProducto" id="" value="">1200P</label></td>
                            <td><input type="checkbox" name="" ></td>
                        
                        </tr>
            
                        <tr>    
            
                        <div  class="product-wrapper" >
                            <td> <img src="{{ url_for('static', filename='img/imagen2.png') }}" alt="" ></td>
                        </div>
                            <td>Abc</td>
                            <td><label for="PuntosProducto" id="" value="">1200P</label></td>
                            <td><input type="checkbox" name="" ></td>
                        </tr>
                        
                         <tr>
                            <div  class="product-wrapper" >
                            <td><img src="{{ url_for('static', filename='img/imagen3.png') }}" alt="" ></td>
                           </div>
                                <td>Abc</td>
                                <td><label for="PuntosProducto" id="" value="">1200P</label></td>
                                <td><input type="checkbox" name="" ></td>
                         </tr>
                            
                            <tr>    
                
                                    <div  class="product-wrapper" >
                                            <td><img src="{{ url_for('static', filename='img/imagen4.png') }}" alt="" ></td>
                                        </div>
                                <td>Abc</td>
                                <td><label for="PuntosProducto" id="" value="">1200P</label></td>
                                <td><input type="checkbox" name="" ></td>
                            </tr>
            
                            <tr>    
                
                                    <div  class="product-wrapper" >
                                            <td><img src="{{ url_for('static', filename='img/imagen5.png') }}" alt="" ></td>
                                        </div>
                                    <td>Abc</td>
                                    <td><label for="PuntosProducto" id="" value="">1200P</label></td>
                                    <td><input type="checkbox" name="" ></td>
                           
                           </tr>                
                                                          
                               
                
                            
                                           
                     </table>
                     
                    <a href="pos"> <input type="button" value="Comprar"> </td></a>
                     </center>
</body>
</html>