<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='table.css') }}">
    <title>The Pos</title>
</head>
<body>
         <center>
        

        <h1>Medio de Pago</h1>

        <table>
            <tr>
                <td>
                    <a href="/"><img src="{{ url_for('static', filename='img/efectivo.png') }}" alt=""></a>
                </td>
            
                    <td>
                        <a href="tarjeta"><img src="{{ url_for('static', filename='img/Tarjeta.png') }}" alt=""></a>
                    </td>
                </tr>
        </table>
        
            
    </center>
    
</body>
</html>